<section class="seccion-uno">
  <div class="texto">
    <h1>Lorem Ipsum</h1>
    <p>
      Proin vitae augue enim. Morbi quis dolor nibh. Donec nunc ipsum, pharetra
      in bibendum a, dignissim ut lorem. Suspendisse a lorem ac quam consectetur
      bibendum eu sit amet magna. Praesent nec sem urna.
    </p>
    <a href="#" id="learn">Leer mas</a>
  </div>

  <img src="../../assets/image/container-unojpg.jpg" alt="" />
</section>

<section class="seccion-dos">
  <h1>Ipsum Loren</h1>

  <div class="contenedor-seccion-dos">
    <div class="c">
      <img src="../../assets/image/seccion-dos-a.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae in,
        voluptatum ratione
      </p>
    </div>

    <div class="seccion-dos-b">
      <img src="../../assets/image/seccion-dos-b.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae in,
        voluptatum ratione
      </p>
    </div>

    <div class="seccion-dos-c">
      <img src="../../assets/image/seccion-dos-c.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae in,
        voluptatum ratione
      </p>
    </div>
  </div>

  <a href="#" id="learn">Leer mas</a>
</section>

<section class="seccion-tres">
  <h1>Ipsum consequat</h1>

  <h3>
    Donec imperdiet consequat consequat. <br />
    Suspendisse feugiat congue posuere. Nulla massa urna, fermentum eget quam
    aliquet.
  </h3>

  <img src="../../assets/image/seccion-tres.jpg" alt="" />

  <div class="seccion-tres-texto">
    <p>
      Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu
      faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet,
      fermentum pellentesque et purus. Integer maximus varius lorem, sed
      convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend
      a enim pulvinar
    </p>
    <p>
      faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur
      vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna
      libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit
      scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu
      ornare dui curabitur lacinia.
    </p>
  </div>

  <a href="#" id="learn">Leer mas</a>
</section>

<section class="seccion-cuatro">
  <h1>Congue imperdiet</h1>

  <h3>
    Donec imperdiet consequat consequat. Suspendisse feugiat <br />
    congue posuere.Nulla massa urna, fermentum eget quam aliquet.
  </h3>

  <div class="botones">
    <a href="#" id="learn">Comenzar</a>
    <a href="#" id="learn">Leer mas</a>
    <p>Hola</p>
  </div>
</section>
