<section class="seccion-dos">
  <h1>Ipsum Loren</h1>

  <div class="contenedor-seccion-dos">
    <div class="seccion-dos-a">
      <img src="../../assets/image/seccion-dos-a.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae in,
        voluptatum ratione
      </p>
    </div>

    <div class="seccion-dos-b">
      <img src="../../assets/image/seccion-dos-b.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae in,
        voluptatum ratione
      </p>
    </div>

    <div class="seccion-dos-c">
      <img src="../../assets/image/seccion-dos-c.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        tempora aliquid dolorem id maiores, doloribus, accusamus fugit vitae in,
        voluptatum ratione
      </p>
    </div>
  </div>

  <a href="#" class="learn">Leer mas</a>
</section>
