<section class="seccion-cuatro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Congue imperdiet</h1>
        <h3>
          Donec imperdiet consequat consequat. Suspendisse feugiat <br />
          congue posuere. Nulla massa urna, fermentum eget quam aliquet.
        </h3>
      </div>
      <div class="col-md-12 text-center">
        <div class="botones">
          <a href="#" class="btn btn-primary">Comenzar</a>
          <a href="#" class="btn btn-secondary">Leer mas</a>
        </div>
      </div>
    </div>
  </div>
</section>
