.seccion-cuatro {
  padding: 6em 0;
}

.seccion-cuatro h1::after {
  display: block;
  content: "";
  width: 3.25em;
  height: 2px;
  margin: 0.5em auto; /* Centra horizontalmente */
  border-radius: 2px;
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  position: relative;
}
