nav {
  background-color: #f7f7f7;
  color: black;
  margin: auto;
  width: 90%;
  border-radius: 1em 1em 0 0;
}

nav.sticky {
  position: fixed;
  border-radius: 0;
  top: 0;
  left: 5.2em;
  font-size: 0.8em;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 1.4em;
  margin: auto;
  width: 50%;
}

li {
  margin: auto;
  padding: 0.6em;
  cursor: pointer;
}

li:hover {
  background-color: #f1f1f1;
  border-radius: 0.5em;
}
