<section class="seccion-uno">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-sm-2 g-5 text-center">
        <div class="texto">
          <h1>Lorem Ipsum</h1>
          <p>
            Proin vitae augue enim. Morbi quis dolor nibh. Donec nunc ipsum,
            pharetra in bibendum a, dignissim ut lorem. Suspendisse a lorem ac
            quam consectetur bibendum eu sit amet magna. Praesent nec sem urna.
          </p>
          <a href="#" class="btn btn-primary">Leer más</a>
        </div>
      </div>
      <div class="col-md-6 order-sm-1 text-center">
        <img
          src="../../assets/image/container-uno.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
