* {
  color: white;
}

header {
  padding: 13%;
}

#foto {
  width: 8em;
  height: 8em;
  margin-bottom: 1.5em;
  border-radius: 50%;
}

h1 {
  margin-bottom: 1em;
}

footer {
  margin-top: 1.4em;
}

.txt-hijo-dos {
  margin-top: 1em;
}
