<html>
  <header>
    <img src="../../assets/image/walppaper.jpg" alt="" id="foto" />
    <h1>Stella</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <br />
      Vitae laboriosam repellendus.
    </p>
  </header>

  <app-nav-bar></app-nav-bar>

  <app-contenido></app-contenido>

  <footer>
    <div class="padre">
      <div class="hijo-uno">
        <h2>Descripción</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          molestias voluptatibus vel atque repellendus, sunt ad porro, corporis
          officia error ipsam inventore fugit perspiciatis optio ratione
          molestiae perferendis quasi aspernatur.
        </p>
        <a href="#" id="learn">Leer más</a>
      </div>
      <div class="hijo-dos">
        <div class="txt-hijo-dos">
          <h2>Contacto</h2>
          <dl>
            <strong><dt>Dirección</dt></strong>
            <dd>Calle Falsa 123, CABA, Argentina</dd>
            <strong><dt>Teléfono</dt></strong>
            <dd>123456789</dd>
            <strong><dt>Email</dt></strong>
            <dd>emailfalso@gmail.com</dd>
          </dl>
        </div>

        <div class="redes-hijo-dos">tw fc in git web</div>
      </div>
    </div>
  </footer>
</html>
