* {
  color: white;
}

header {
  padding: 9% 0;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

p {
  font-size: 1em;
}

#foto {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.padre {
  display: grid;
  gap: 6em;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2em;
}

.hijo-uno {
  padding: 1em 2em 0 10em;
  line-height: 2em;
}

.hijo-uno p {
  margin: 1.5em 0;
}

dl {
  display: block;
  margin-top: 1.5em;
  padding: 0.5em 0;
}

dt {
  clear: left;
  float: left;
}

dt::after {
  content: ": ";
}

dd {
  margin: 0 0 0.85em 5.5em;
}

.hijo-dos {
  padding: 1em 10em 0 2em;
}

.redes-hijo-dos {
  margin-top: 2em;
}

.redes-hijo-dos a {
  margin-right: 1em;
}

.learn {
  box-shadow: inset 0 0 0 1px white;
}

.learn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
