/* You can add global styles to this file, and also import other style files */
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

html {
  height: 100%;
  background-image: linear-gradient(#add8e6, #c78c95);
}

#learn {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
  padding: 1em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 300;
  min-width: 9.25em;
  height: 2.75em;
  line-height: 2.75em;
}
