<section class="seccion-tres">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Ipsum consequat</h1>
        <h3>
          Donec imperdiet consequat consequat. <br />
          Suspendisse feugiat congue posuere. Nulla massa urna, fermentum eget
          quam aliquet.
        </h3>
      </div>
      <div class="col-md-12 d-flex align-items-center">
        <img src="assets/image/seccion-tres.jpg" alt="" class="img-fluid" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu
          arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu
          sit amet, fermentum pellentesque et purus. Integer maximus varius
          lorem, sed convallis diam accumsan sed. Etiam porttitor placerat
          sapien, sed eleifend a enim pulvinar
        </p>
      </div>
      <div class="col-md-6">
        <p>
          faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur
          vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna
          libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et
          hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam
          porta. Cras eu ornare dui curabitur lacinia.
        </p>
      </div>
    </div>

    <div class="text-center">
      <a href="#" class="btn btn-primary">Leer mas</a>
    </div>
  </div>
</section>
